<% include ../partials/header%>

<body>
<% include ../partials/nav%>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="border: 2px solid black">
        <!-- Form register -->
        <form action="/signup" method="POST">
            <p class="h5 text-center mb-4">Sign up</p>
            <!-- ALERT MODAL -->
            <% if(hasErrors) {%>
                <div>
                    <div class="alert alert-danger alert-dismissible fade in fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <% _.forEach(messages,function(error){%>
                            <strong> <%= error %></strong><br>
                        <% }) %>                    
                    </div>

                </div>
            <%}%>
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input name="username" type="text" id="orangeForm-name" class="form-control">
                <label for="orangeForm-name">Your name</label>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input  name="email" type="text" id="orangeForm-email" class="form-control">
                <label for="orangeForm-email">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input name="password" type="password" id="orangeForm-pass" class="form-control">
                <label for="orangeForm-pass">Your password</label>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-orange">Sign up</button>
            </div>

        </form>
        <!-- Form register -->



        <!--Footer-->
        <div class="footer pt-3 mdb-color lighten-3">

            <div class="row d-flex justify-content-center">
                <p class="font-small white-text mb-2 pt-3">or Sign up with:</p>
            </div>

            <div class="row mt-2 mb-3 d-flex justify-content-center">
                <!--Facebook-->
                <a class="icons-sm fb-ic"><i class="fa fa-facebook white-text fa-lg"> </i></a>
                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text fa-lg"> </i></a>
                <!--Google +-->
                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus white-text fa-lg"> </i></a>
            </div>
        </div>
      </div>
    </div>

  </div>
  

</div>
  






<script>
  $(".alert").alert();
</script>


<% include ../partials/footer%>

