<% include ./partials/header%>

<body>
<% include ./partials/nav%>

<h1>Group</h1>


<%= group %>






 

<div class="container">
  <div class="row">
    <div class="col-md-4">  

        <div class="chat_area">
            <ul id="list-of-messages" class="message-list">
                <!-- <li class="left">
                    <span class=" pull-left">
                      <img src="http://placehold.it/300x300" class="image-circle" alt="">
                    </span>
                    <div class="chat-body">
                        <span class="sender-name"> <%= user.username || user.fullname %></span>
                        <br>
                        <hr>

                    </div>
                </li> -->
            </ul>
            
            <script id="message-template" type="text">
                <li class="left">
                    <span class=" pull-left">
                      <img src="http://via.placeholder.com/300x300" class="image-circle" alt="">
                    </span>
                    <div class="chat-body">
                        <span class="sender-name"> {{ sender}} </span>
                        <br>
                        <hr>
                        {{ text }}

                    </div>
                </li> 
            </script>

        </div>

      <form id="chat-form" method="post">
          <input type="hidden" id="groupName" value="<%= group.groupname %>" >
          <input type="hidden" id="sender" value="<%= user.username || user.fullname %>" >
          <div class="form-group">
              <label for=""></label>
              <textarea id="chat-message" class="form-control" name="" id="" rows="3"></textarea>         
          </div>
          <div class="clearfix"></div>
          <!-- <div class="form-group"> -->
              <button id="chat-button" class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
          <!-- </div> -->
      </form>

    </div>
  </div>
</div>





<% include ./partials/footer%>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="./../js/group/group-socket-client.js"></script> -->
<script src="/js/group/group-socket-client.js"></script>

<script src="/js/mustache.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
</body>
</html>

